@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-weight: 400;

  width: 100vw;
  max-width: 100%;
  min-width: 100%;

  height: 100vh;
  max-height: 100%;
  min-height: 100%;
}
